<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/CSS/admin.css" />
    <link rel="stylesheet" href="/CSS/show.css" />
    <link rel="stylesheet" href="/CSS/newProduct.css" />
    <link
      href="https://unpkg.com/filepond/dist/filepond.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />

    <script
      defer
      src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
    ></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/JS/fileUpload.js"></script>
  </head>
  <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <body>
    <div class="header">
      <h3>Dashboard</h3>
      <div class="header_right">
        <a
          href="/"
          style="background-color: #8d8d8d; padding: 0.3em; border-radius: 5px"
        >
          <span style="color: #fff; font-weight: bold">Awesome</span>
          <span style="color: green; font-weight: bold">Shop</span>
        </a>
        <button class="btn logout_btn">
          <a href="/user/logout">Log out</a>
        </button>
      </div>
    </div>
    <div class="welcome"><h1>Welcome, <%= user %>!</h1></div>

    <div class="options">
      <a href="/admin">Home</a>
      <a href="/admin/products">All Product</a>
      <a href="/admin/products/new">Add Product</a>
    </div>
    <%- include("../partials/errorProduct.ejs") %> <%- body %>
  </body>
</html>
