._form_container {
  display: grid;
  grid-template-columns: minmax(150px, 350px) 200px;
  margin-top: 2em;
}
._form_container p {
  font-weight: 500;
}
._form_container input {
  margin: 0.5em 0;
}

.form_left input,
textarea {
  width: 300px;
  max-width: 100%;
}
.form_right p {
  margin: 0.5em 0;
}
textarea {
  border: 2px solid rgb(182, 182, 182);
  border-radius: 5px;
  padding: 0.3em;

  display: block;
  resize: none;
  height: 150px;
  margin: 0.5em 0;
  outline: none;
}
textarea:focus {
  border-color: rgb(62, 122, 212);
}
