<h2>New Product</h2>
<%- include("../partials/errorCreate.ejs") %>

<form action="/admin/products" method="POST">
  <%- include("_form_fields") %>
  <a href="/admin">Cancel</a>
  <button type="submit">Create</button>
</form>
