<h2>New Product</h2>

<form action="/admin/products" method="POST">
  <%- include("_form_fields") %>
  <a href="/admin"> <button class="btn btn_dead">Cancel</button> </a>
  <button type="submit" class="btn">Create</button>
</form>
